.logo-caption
    display: flex
    justify-content: center
    align-items: center

    &__img
        width: 25rem

    &__desc
        color: rgba(0, 0, 0, 0.5)
        text-align: center

    &__title
        text-align: center
        font-size: 2rem
