@import "nib"

red = #ff333a

.logo-caption
    display: flex
    justify-content: center
    align-items: center

    &__img
        width: 25rem

    &__desc
        color: red
        text-align: center
        fixed: bottom 1rem left 0.5rem

    &__title
        text-align: center
        font-size: 2rem
