@import "nib"

global-reset(  )

rem( number-px )
    return ( number-px / 16 ) rem

blue = #004284
light = 100

.main-header
    align-items: center
    background: blue
    border-bottom: rem( 4 ) solid #3DA0E2
    display: flex
    justify-content: space-between
    width: 100%

.logo-caption
    align-items: center
    color: #fff
    display: flex
    line-height: rem( 10 )
    margin: 0
    width: rem( 300 )

    &__img
        display: flex
        padding: rem( 10 )
        width: rem( 50 )

    &__name
        color: #ffffff
        display: flex
        flex-direction: column
        font-family: Source Sans Pro
        font-size: rem( 21 )
        font-weight: light
        margin-top: 1.2rem

        &--motto
            color: rgba( 255, 255, 255, 0.8 )
            font-family: Source Sans Pro
            font-size: rem( 12 )
            font-weight: light

.navegator-header

    display: flex

    &__option
        align-items: center
        color: #fff
        font-family: Source Sans Pro
        font-size: rem( 16 )
        font-weight: light
        height: 70px
        width: 135px
        display: flex
        justify-content: center



        &:hover
            background-color: #1B68A8
            color: #fff

        &--relative
            position: relative
            display: block

            &:hover
                .submenu
                    display: block

.submenu
    align-self: auto
    background-color: blue
    display: none
    justify-content: center
    z-index: 100
    absolute bottom -0.25rem right
    width: rem( 270 )
    transform: translateY(100%)

    &__option
        height: rem( 50 )
        display: flex
        justify-content: center
        align-items: center

        &--inter
            color: #fff
            font-family: Source Sans Pro
            font-size: rem( 16 )
            font-weight: light
            text-decoration: none




        &:hover
            background-color: #1B68A8

.menu-link
    color: white
    text-decoration: none
    display: flex
    justify-content: center
    align-content: center

.navegator-submenu

    &__title
        absolute top 50% left 50%
        transform: translate(-50%, -50%)

