html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
.main-header {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #004284;
  border-bottom: 0.25rem solid #3da0e2;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}
.logo-caption {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  line-height: 0.625rem;
  margin: 0;
  width: 18.75rem;
}
.logo-caption__img {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding: 0.625rem;
  width: 3.125rem;
}
.logo-caption__name {
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Source Sans Pro;
  font-size: 1.3125rem;
  font-weight: 100;
  margin-top: 1.2rem;
}
.logo-caption__name--motto {
  color: rgba(255,255,255,0.8);
  font-family: Source Sans Pro;
  font-size: 0.75rem;
  font-weight: 100;
}
.navegator-header {
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.navegator-header__option {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #fff;
  font-family: Source Sans Pro;
  font-size: 1rem;
  font-weight: 100;
  height: 70px;
  width: 135px;
}
.navegator-header__option:hover {
  background-color: #1b68a8;
  color: #fff;
}
.navegator-header__option--relative {
  position: relative;
}
.navegator-header__option--relative:hover .submenu {
  display: block;
}
.submenu {
  -webkit-align-self: auto;
  align-self: auto;
  -ms-flex-item-align: auto;
  background-color: #004284;
  display: none;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 3.625rem;
  -webkit-transform: translateX(-52%);
  -moz-transform: translateX(-52%);
  -o-transform: translateX(-52%);
  -ms-transform: translateX(-52%);
  transform: translateX(-52%);
  width: 16.875rem;
}
.submenu__option {
  height: 3.125rem;
}
.submenu__option:hover {
  background-color: #1b68a8;
}
a {
  color: #fff;
  padding-top: 1.75rem;
  position: absolute;
  text-align: center;
  text-decoration: none;
}
