@import "nib"

global-reset(  )

rem( number-px )
    return ( number-px / 16 ) rem

blue = #004284
light = 100

.main-header
    align-items: center
    background: blue
    display: flex
    justify-content: space-between
    width: 100%

.logo-caption
    align-items: center
    color: #fff
    display: flex
    margin: 0
    width: rem( 300px )

    &__img
        display: flex
        padding: rem( 10 )
        width: rem( 50 )

    &__name
        color: #ffffff
        display: flex
        flex-direction: column
        font-family: Source Sans Pro
        font-size: rem( 21 )
        font-weight: light

        &--motto
            color: #fff
            font-family: Source Sans Pro
            font-size: rem( 12 )
            font-weight: light

.navegator-header
    display: flex
    padding: 0 2rem

    &__option
        color: #fff
        font-family: Source Sans Pro
        font-weight: light
        padding: 0 1rem
        text-decoration: none

        &--relative
            position: relative

            &:hover
                .submenu
                    display: block

.submenu
    absolute: bottom left
    background-color: red
    display: none
    padding: 1rem 0 0 1rem
    transform: translateY( 100% )

    &__option
        padding-top: 0.5rem
